.button {
	color: green;
}

.disabled {
	color: lightgreen;
}

.secondary {
	background-color:aliceblue;
}

.default {
	background-color:azure;
}

.red {
	color: red;
}

.default:hover {
	color: blue;
}

.red:hover {
	color: blue;
}

.secondary:hover {
	color: blue;
}


.default:active {
	background-color: grey;
}

.secondary:active {
	background-color: aquamarine;
}

.red:active {
	background-color:burlywood;
}

.button:disabled {
	color:lightsteelblue;
}
